/* Center the article on the page */
.carticle-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Style the article title */
  .hiarticletitle {
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Style the article cover image */
  .article-cover-image {
    max-width: 100%;
    height: auto;
    
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the article content */
  .content-show {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  /* Style the "Read More" button */
  .abutton-forarticle {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .abutton-forarticle:hover {
    background-color: #023e8a;
  }
  
  /* Style the "Go back" link */
  .article-page-link {
    color: #0077b6;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .article-page-link:hover {
    text-decoration: underline;
  }
  