.NewsList{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 100px;
}

.NewsPage{
    background-color: #18234D;
}

.NewsPage > h1{
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 50px;
}

.news-image {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
  }
  