.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calbackground{
  text-align: center;
  background-image: url('./3ALXjA8W90.jpg'); /*  './background.jpg' */
  background-size: cover; /* 图片将覆盖整个元素区域 */
  background-repeat: no-repeat; /* 图片不重复 */
  background-position: center center; /* 图片居中 */
  /* background-attachment: fixed;   */
  min-height: 100vh; /* 设置 div 的最小高度为视口高度，以确保背景图片覆盖整个页面 */
}

.bottom-alert{
  text-align: center;
  
}