.footer {
    background-color: #0e0d0d;
    color: #f0f0f0;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }
  
  /* 可以根据需要添加其他样式，例如针对不同屏幕大小的响应式设计 */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  